<!-- Example row of columns -->
<div class="row">
    <div id="task-todo" class="span4"></div>
    <div id="task-doing" class="span4"></div>
    <div id="task-done" class="span4"></div>
</div>

<hr>

<footer>
    <p>© Company 2012</p>
</footer>
