<!-- Example row of columns -->
<div class="bs-docs-example">
    <div class="alert fade in">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">CoCoTask Guide</h4>
        <ol>
            <li>Create a new task by pressing Enter after typing the task name.</li>
            <li>Edit the task name just by clicking the task label.</li>
            <li>Sort tasks from one list into another and vice versa, by dragging and dropping a task label.</li>
            <li>Data are saved as local storage for browsers supporting this feature of HTML5.</li>
        </ol>
    </div>
</div>

<div class="row">
    <div id="task-todo" class="span4"></div>
    <div id="task-doing" class="span4"></div>
    <div id="task-done" class="span4"></div>
</div>

<hr>

<footer>
    <p><a href="https://github.com/antonioJs/CoCoTask">GitHub project</a></p>
</footer>
