<h2>{{ type }} task ({{ taskLength }})</h2>
<form method="post">
    <input class="new-task" placeholder="{{ createTask }}" required="required" autofocus/>
</form>
<ul class="task-list connectedSortable"></ul>

