// ------------------------------
// - Bootstrap Overrides
// ------------------------------

.navbar-inner {
  a.brand {
    color: @brand-color;
    font-weight: bold;
    &:hover {
      color: @brand-color-hover;
    }
  }
}
