// ------------------------------
// - Bootstrap Overrides
// ------------------------------

.navbar-inner {
  a.brand {
    color: @brandColor;
    &:hover {
      color: @colorLime;
    }
  }
}

// TODO adding the responsive layout for .row because margin-top should be appliyed just 1200px-min
.row {
  margin-top: 55px;
}
