// ------------------------------
// - LESS Variables
// ------------------------------

// Main colors
// -------------------------
@colorBlack: #000;
@colorRed:   #f00;
@colorLime:  #0F0;
@colorGray:  #999;

@contentColor: lighten(@colorRed, 30%);
@brandColor: lighten(@colorLime, 20%);

// - Text Sizes
// -------------------------
@xxl-fontSize:   17px;
@xxxl-fontSize:  23px;
