// ------------------------------
// - LESS Variables
// ------------------------------

@colorBlack: #000000;
@colorRed: #ff0000;
@colorLime : #00FF00;

@contentColor: lighten(@colorRed, 30%);
@brandColor: lighten(@colorLime, 20%);
