// ------------------------------
// - LESS Variables
// ------------------------------

// Main colors
// -------------------------
@color-black: #000;
@color-red:   #f00;
@color-gray:  #999;
@color-green: #0f0;

@content-color: lighten(@color-red, 30%);
@brand-color: lighten(@color-gray, 36%);
@brand-color-hover: lighten(@color-gray, 40%);
@list-color: lighten(@color-gray, 30%);
@task-container-color: lighten(@color-gray, 38%);
@portlet-placeholder-color: lighten(@color-green, 38%);

// - Text Sizes
// -------------------------
@xxl-font-size:   17px;
@xxxl-font-size:  23px;
