.m-task {

  border: 1px solid #E8E8E8;
  padding: 5px 10px;
  margin-bottom: 10px;
  .border-radius(15px);

  h2 {
    text-transform: uppercase;
  }

  li {
    position: relative;
    font-size: @xxl-font-size;

    .destroy:after {
      content: '✖';
    }

    &:hover .destroy {
      display: block;
    }
  }

  .task-list {
    margin: 10px 0;
    padding: 0;
    list-style: none;
    min-height: 50px;
  }

  .new-task {
    .border-radius(10px);
    .box-sizing(border-box);
    position: relative;
    margin: 0;
    width: 100%;
    font-size: @xxl-font-size;
    line-height: 1.4em;
    outline: none;
    padding: 6px;
    border: 1px solid @color-gray;
    box-shadow: inset 0 -1px 5px 0 @color-gray;
  }

  .destroy {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    color: @color-black;
  }

  .view {
    background: @list-color;
    .border-radius(10px);
    padding: 0 10px;

    label {
      position: relative;
      font-size: @xxxl-font-size;
      line-height: 1.5;
      cursor: pointer;
    }
  }

  button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
  }
}

textarea {
  height: 20px;
}
